title: PGroonga
markdown: kramdown
highlighter: rouge
pgroonga_version: 2.2.1
pgroonga_release_date: 2019-07-19
copyright_year: 2015-2019
postgresql_doc_base_url:
  en: https://www.postgresql.org/docs/11
  ja: https://www.postgresql.jp/document/11/html
windows_postgresql_versions:
  - 9.5
  - 9.6
  - 10
  - 11
freebsd_postgresql_version: 11
development_postgresql_version: 11.1
exclude:
  - "Rakefile"
  - "Gemfile"
  - "Gemfile.lock"
  - "data"
description:
  en: Make PostgreSQL fast full text search platform for all languages!
  ja: PostgreSQLで高速日本語全文検索！

kramdown:
  input: GFM
  smart_quotes: ["apos", "apos", "quot", "quot"]

sass:
  sass_dir: assets/stylesheets

defaults:
  - scope:
      path: "ja"
    values:
      path_prefix: /ja/
      layout: "base"
      language: ja
      country: JP
  - scope:
      path: ""
    values:
      path_prefix: /
      layout: "base"
      language: en
      country: US
