title: PGroonga
markdown: kramdown
highlighter: rouge
pgroonga_version: 3.1.5
pgroonga_release_date: 2023-09-29
postgresql_doc_base_url:
  en: https://www.postgresql.org/docs/16
  ja: https://www.postgresql.jp/document/15/html
windows_postgresql_versions:
  - 11
  - 12
  - 13
  - 14
  - 15
  - 16
latest_postgresql_version: 16
# This must be synchronized with PGSQL_DEFAULT in
# https://github.com/freebsd/freebsd-ports/blob/main/Mk/bsd.default-versions.mk
# .
freebsd_postgresql_version: 13
development_postgresql_version: 16.0
exclude:
  - "Gemfile"
  - "Gemfile.lock"
  - "LICENSE"
  - "Rakefile"
  - "data"
  - "transifex.yml"
  - "vendor"
description:
  en: Make PostgreSQL fast full text search platform for all languages!
  ja: PostgreSQLで高速日本語全文検索！

kramdown:
  input: GFM
  smart_quotes: ["apos", "apos", "quot", "quot"]

sass:
  sass_dir: assets/stylesheets

defaults:
  - scope:
      path: "ja"
    values:
      path_prefix: /ja/
      layout: "base"
      language: ja
      country: JP
  - scope:
      path: ""
    values:
      path_prefix: /
      layout: "base"
      language: en
      country: US
